extends ../layout

block content
	div.row.well.blog-detail
		h2(style='text-align:center') #{blog.title}
		h4.blog-info
			b.author #{blog.author ? blog.author.username : ''}
			span 发表于 #{blog.createTime}
		div.content
			!{blog.content}

block scripts
	script(src='/ueditor/ueditor.parse.js')
	script.
		uParse('.content', {
			rootPath: '../'
		});