script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/headroom.min.js')
script(type='text/javascript', src='/javascripts/jQuery.headroom.min.js')
script(type='text/javascript', src='/javascripts/template.js')
script(type='text/javascript', src='/javascripts/app.js')