extends layout

block content
	div.row.well
		div.btn-group
			a(href='/users').btn.btn-primary.btn-shadow 账号管理
			a(href='/categories').btn.btn-success.btn-shadow 类别管理
			a(href='/blogs').btn.btn-info.btn-shadow 博客管理
			a(href='/feedbacks').btn.btn-primary.btn-shadow 反馈管理
	